# Environment
.env

# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# OAuth
client_secret*.json
token.json

# Cache
.cache/

# VS Code
.vscode/
Frespo.code-workspace

# Logs
*.log

# OS
.DS_Store
Thumbs.db
